<!DOCTYPE html>
<html xmlns:th="htts://www.thymeleaf.org" lang="es">
<head data-th-replace="~{/layouts/header :: head}"></head>
<body>
	<footer th:fragment="footer" class="bg-body-tertiary" style=" padding: 20px; text-align: center;">
    <p style="margin-bottom: 10px;">P.Visual © 2024 Facultad de Ingenieria. Todos los derechos reservados.</p>
    <nav>
        <ul style="list-style: none; padding: 0;">
            <li style="display: inline; margin: 0 10px;"><a data-th-href="@{#}" style=" text-decoration: none;">Instagram</a></li>
            <li style="display: inline; margin: 0 10px;"><a data-th-href="@{#}" style=" text-decoration: none;">Facebook</a></li>
            <li style="display: inline; margin: 0 10px;"><a data-th-href="@{#}" style=" text-decoration: none;">Contacto</a></li>
        </ul>
    </nav>
	</footer>
</body>
</html>